<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection"content="telephone=no"/>
	<title>{{title}}</title>
	{{!--<link rel="stylesheet" type="text/css" href="{{staticHost}}dist/css/m_web.min.css" />
	<script  src="{{staticHost}}lib/jquery-1.11.3.min.js"></script>--}}
	{{{_sections.head}}}
</head>
{{{_sections.body}}}

{{{body}}}
</body>
{{{_sections.script}}}
</html>
